.wrapper {
  width: 100%;
  height: 100%;

  .back {
    background-image: url(../images/back.jpeg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .file {
    background-image: url(../images/file.png);
    width: 959px;
    height: 574px;
    margin: 0 auto;
    top: 100px;
    transform: scale(0.5);
    opacity: 0;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    gap: 140px;
    visibility: hidden;
    transition: opacity 1s ease, transform 1s ease;

    &.show {
      animation: flyInFromBack 1s ease-out forwards;
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }
  }

  .title {
    font-family: popB;
    font-size: 50px;
    color: #fff;
    text-align: center;
    position: relative;
    margin-left: 100px;
    top: 200px;
    opacity: 0;
    transform: scale(0.8);
    animation: titlePopIn 1s ease-out forwards;
    animation-delay: 1s; 

    span{
     font-size: 60px;
     font-weight: bolder;
    }
    .sub{
      font-family: popM;
      font-size: 16px;
      color: #fff;
      
      opacity: 0;
      transform: scale(0.8);
      animation: titlePopIn 2s ease-out forwards;
      animation-delay: 1s; 
    }
  }
  
  @keyframes titlePopIn {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .pic {
    background-image: url(../images/meg.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 400px;
    background-color: pink;
    top: 100px;
    position: relative;
    border-radius: 30px;
  }
}

@keyframes flyInFromBack {
  0% {
    transform: scale(0.5) translateZ(-200px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateZ(0);
    opacity: 1;
  }
}
.purple-btn {
  background-color: #c7a0ff; /* soft purple */
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 999px; /* pill shape */
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(199, 160, 255, 0.3);
  transition: all 0.3s ease;
  font-family: 'Poppins', sans-serif;
}

.purple-btn:hover {
  background-color: #b589f9;
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(199, 160, 255, 0.4);
}
