.wrapper {
  width: 100%;
  height: 100%;
  .back {
    background-image: url(../images/back.jpeg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
